<%
  companies = Company.all #esto es un array
%>

<h1> Companies </h1>

<ul> 
  <% for company in companies%>
  <li> <%=company ["name"]%> - <%=company ["city"]%> , <%=company ["state"]%> </li><%# si lo ponemos asi me lo trae como hash, necesito sacar el nombre de adentro del hash: company %>
  <%end%>
</ul>


