<%#escribo comentarios adentro de ruby, el <% es para ruby>, si no quiero escribir nada adentro del html no le pongo el "=" %> 


<% fillings = ["carnitas","al pastor", "steak","pescado","chicken"] %> <%#no pongo el igual para que no me escriba nada%>

<h1> I love tacos! </h1>

<p> There are <%= fillings.length  %> kinds of tacos:</P> <%#poner el = es como escribir puts %> 



<ul>
  <li>Carnitas </li>
  <li>Al Pastor </li>
  <li>Steak </li>
  <li>Fish </li>
</ul>